body{
    margin:0;
    background-color:#056679;
    font-family: sans-serif;
}
.todocontainer{
    width:500px;
   
    margin:auto;
    margin-top: 150px;
    margin-right: 15%;
    left:50%;
    top: 50%;
    transform: translate(-50%,-50%);
    text-align: center;

}
.inputsection{
    background-color: #ececec;
    padding: 18px;
    border-radius: 10px;
}
h1{
    margin: 0;
    margin-bottom: 15px;
    color: #ababab;
}

.inputsection input{
    border-radius: 5px;
    border: 1px solid silver;
    width: 100%;
    padding:10px;
    box-sizing: border-box;
}
input::placeholder{
    color: silver;
}
ul{
    
    
    text-align: left;
    padding: 0;

}
ul li{
    display: flex;
    list-style: none;
    background-color: white;
    padding:15px;
    border-radius: 5px;
    margin-bottom: 10px;
    color: grey;

}
ul li i{
    text-align: right;
    flex:1;
    cursor: pointer;
}